In [1]:
import dask
import dask.dataframe as dd
import timeit
import readtextfile
import writeparquetfile
import writetextfile

In [2]:
df = readtextfile.ReadTextFile(ipfile='/Users/sripri/Downloads/1500000_Sales_Records.csv',
                                   ipschemafile='/Users/sripri/Downloads/schema/sample_csv_file.txt',
                                   delimiter=',', skiprows=1).read_using_dask()

Time taken : 0.025487456999996994 seconds for reading file '/Users/sripri/Downloads/1500000_Sales_Records.csv'

In [3]:
df.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18

In [5]:
df_header = readtextfile.ReadTextFile(ipfile='/Users/sripri/Downloads/sample_textfile.txt',
                                   ipschemafile='/Users/sripri/Downloads/schema/sample_csv_file.txt',
                                   delimiter='|').read_using_dask_header()

Time taken : 0.005693652999980259 seconds for reading header '/Users/sripri/Downloads/sample_textfile.txt'

In [6]:
df_header.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13

In [8]:
df_detail = readtextfile.ReadTextFile(ipfile='/Users/sripri/Downloads/sample_textfile.txt',
                                          ipschemafile='/Users/sripri/Downloads/schema/sample_csv_file.txt',
                                          skiprows=1,
                                          skipfooter=1,
                                          delimiter='|').read_using_dask_detail()

Time taken : 0.056259592000060366 seconds for reading detail records in a file '/Users/sripri/Downloads/sample_textfile.txt'

In [9]:
df_detail.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
1,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
2,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
3,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18
4,Asia,Sri Lanka,Fruits,Online,L,11/7/2011,830192887,12/18/2011,1379,9.33,6.92,12866.07,9542.68,3323.39

In [4]:
df1 = readtextfile.ReadTextFile(ipfile='/Users/sripri/Downloads/sample_textfile.gzip',
                                   ipschemafile='/Users/sripri/Downloads/schema/sample_csv_file.txt',
                                   delimiter='|', skiprows=0, compression='gzip').read_using_dask()

0.030437292000002003 Seconds Needed for read file

In [5]:
df1.npartitions

4